language: php
services:
    - mysql

cache:
    directories:
        - node_modules
        - ~/.npm
        - vendor
php:
    - 7.4
git:
    depth: 3
before_install:
    - cp .env.travis .env
    - mysql -e 'CREATE DATABASE testing CHARACTER SET utf8 COLLATE utf8_unicode_ci;'
before_script:
    - composer install --no-interaction
    - php artisan migrate:refresh --seed --force
    - npm install
script:
    - npm run development
    - php artisan test
notifications:
    email:
        recipients:
            - johannitaarango2@gmail.com
        on_success: never
        on_failure: always
